#header,body,h1,p,h2
{
  margin: 0px;
}
html{
    font-family: 'Oswald',serif;
}
.welcome
{
  background-color: red;
  color:white;
  text-align: left;
  font-size: 30px;
  padding-left: 10px;
}
ul
{
  padding: 0px;
  margin: 0px;
  background-color:#2f4f4f;
  overflow: hidden;
}
ul a
{
  padding: 20px;
  text-decoration: none;
  font-size: 26px;
  color:#fff;
  min-height: 16px;
  text-align: center;
}
a:hover
{
  background-color: white;
  color:black;
}
li.left
{
  list-style: none;
  float:left;
}
li.left h3
{
    color: white;
    margin: 0;
    font-size: 26px;
    padding-left: 10px;
    padding-right: 10px;
}
li.right
{
  list-style: none;
  float:right;
}
.tagline
{
  background-color:#a9ba9d;
  text-align: center;
  font-size: 22px;
  padding:27px;
}
.container
{
  /* padding: 20 10 10 20; */
  display: block;
  width: 100%;
}
.candidate
{
  margin:45;
  padding: 5px;
  box-shadow: 5px 10px 8px #888888;
  background-color: antiquewhite;
  width: 25%;
  float:left;
  text-align: center;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.candidate h1
{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 32px;
  margin: 15 0 10 0;
}
.candidate h2{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  font-size: 32px;
  margin-bottom: 15px;
}

.candi_img
{
  margin-top: 10px;
  height: 200px;
  width: 85%;
  border-radius: 50%;

}
.candidate ul li
{
  line-height: 30px;
  text-align: center;
  list-style: none;
  background-color: antiquewhite;
}
.button_container { 
  height: 50px;
  position: relative;
  clear: both;
}

.button_div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#submit_button
{
  background-color:red;
  color: antiquewhite;
  font-size: 30px;
  font-family: 'Oswald';
  padding: 5px;
  border-radius: 10px;
  width:150px;
  text-transform: uppercase;
}
.footer
{
  margin-top: 30px;
  background-color: black;
  color:#fff;
  text-align: right;
  font-size: 25px;
}
